

.contact-hero {
    padding: 100px 20px 40px 20px;
    text-align: center;
    margin-top: 100px;
}

.contact-hero h1 {
    font-size: 48px;
    color: #ff7f50;
    margin-bottom: 10px;
}

.contact-hero p {
    font-size: 20px;
    color: #e5e5e5;
}

.contact-info {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.contact-grid {
    display: flex;
    gap: 40px;
    max-width: 900px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-card {
    background-color:  #12183b;
    border-radius: 10px;
    padding: 30px;
    width: 280px;
    text-align: center;
    box-shadow: 0 0 10px royalblue;
}

.contact-card i {
    font-size: 48px;
    background: linear-gradient(90deg, #ff7f50, #ec4899) ;
    margin-bottom: 15px;
    border-radius: 50%;
    padding:15px 20px ;
}

.contact-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff7f50;
}

.contact-card p {
    font-size: 16px;
    color: #e5e5e5;
}

.contact-form-section {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.form-container {
    max-width: 600px;
    width: 100%;
}

.contact-form h2 {
    color: royalblue;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: 2px solid royalblue;
}

.submit-btn {
    background: linear-gradient(90deg, #ff7f50, #ec4899);
    
    color: #e5e5e5;
    border: none;
    padding: 15px 100px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    width: 105%;
    transition: background-color 0.3s ease;
    
}

.submit-btn:hover {
    background-color: #00abf0;
}

.social-media {
    padding: 40px 20px;
    text-align: center;
    
}

.social-media h2 {
    color:#ff7f50 ;
    font-size: 36px;
    margin-bottom: 10px;
}

.social-media p {
    color: #e5e5e5;
    font-size: 18px;
    margin-bottom: 30px;

}

.social-icons-large {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.social-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e5e5e5;
    text-decoration: none;
    font-size: 14px;
    width: 100px;
    transition: color 0.3s ease;
}

.social-icon i {
    font-size: 48px;
    margin-bottom: 8px;
    color: royalblue;
    transition: color 0.3s ease;
}

.social-icon:hover,
.social-icon:hover i {
    color: white;
}

